/* css reset */
html {
font-size: 100px;
}
@media screen and (max-width: 360px) {
html {
font-size: 90px !important;
}
}
html,
body{
height: 100%;
}
*{
margin: 0;
padding: 0;
}
body {
font: 0.13rem/0.24rem 'Hiragino Sans GB','Arial', 'Helvetica', 'sans-serif';
color: #333;
word-wrap: break-word;
word-break: break-all;
}
a{
text-decoration: none;
color:#333;
}
div {
background: #fff;
}
#page{
height: 100%;
min-height: 100%;
height: auto !important;
}

/* wise_index.css */
header {
border-bottom: 1px solid #e2e2e2;
}
header a {
display: block;
width: 0.93rem;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
header a img {
display: block;
width: 0.78rem;
height: 0.26rem;
margin: 0.08rem 0 0.1rem 0.15rem;
}
#content {
padding-bottom: 0.38rem;
}
#content > ul {
padding:0 0.2rem 0 0.22rem;
}
#content > h3 {
font-weight: normal;
font-size: 18px;
text-align: center;
line-height: 0.49rem;
margin:0 0 0.01rem 0;
}
#content .baidu-attention {
color: #666;
padding:0.07rem 0.2rem 0.06rem 0.22rem;
background: #f4f4f4;
border-bottom: 1px solid rgba(219,219,219,0.6);
}
#content .baidu-attention>span {
color:#333;
}
.content-main {
margin-top: 0.14rem;
list-style: none;
}
.content-main li {
margin-bottom: 0.13rem;
}
#footer{
width: 100%;
position:relative;
margin-top: -138px;
height: 1.38rem;
overflow: hidden;
}
#footer .footer-list {
display: flex;
font-size: 0.14rem;
padding:0 0.16rem 0 0.21rem;
}
#footer .footer-list>div {
flex:1;
text-align: center;
padding-top: 0.12rem;
padding-bottom: 0.12rem;
border-top: 1px solid rgba(227,227,227,0.6);
border-bottom: 1px solid rgba(227,227,227,0.6);
}
#footer .item>div:first-child {
padding-bottom: 5px;
border-bottom: 1px solid rgba(227,227,227,0.6);
}
#footer .item>div:last-child {
padding-top: 5px;
}
#footer .item:first-child>div {
border-right: 1px solid rgba(227,227,227,0.6);
}
#footer .item a{
display: block;
/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
#index-copyright {
display: block;
font: 0.12rem/0.2rem 'Arial', 'Helvetica', 'sans-serif';
height: 0.2rem;
color: #999;
text-align: center;
margin-top: 0.13rem;
margin-bottom: 0.2rem;
}
/*  wise_safe_control.css  */
.safe-control {
height: 43px;
border-bottom:1px solid #d9d9d9;
}
.header-back {
font-size: 14px;
color: #666;
line-height: 44px;
padding-left: 0.323rem;
background:url(./img/header_back_bg.png) no-repeat 0.123rem 0.14rem;
background-size: 0.087rem 0.163rem;
}
.banner {
background: #f1f1f1;
padding: 0.067rem 0 0.073rem;
}
#start-button {
font-size: 14px;
line-height: 44px;
color:#d9d9d9;
height: 44px;
background: #fff;
padding-left: 0.16rem;
position: relative;
}
#switcher {
display: block;
position: absolute;
right: 0.17rem;
top:0.12rem;
border-radius: 10px;
width: 36px;
height: 20px;
-webkit-transition: background 300ms ease-out;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.switcher-on {
background: #5fa7ff;
}
.switcher-on:after{
left: 16px;
top:1px;
}
#switcher:after {
content: "";
position: absolute;
background: #fff;
width: 19px;
height: 18px;
border-radius: 0.11rem;
-webkit-transition: left 300ms ease-out;
}
.switcher-off{
background: #eaeaea;
}
.switcher-off:after{
border:1px solid #e2e2e2;
left:0px;
top:0px;
}
.content-control {
padding-top: 0.055rem;
/*border-bottom: 1px solid #d7d7d7;*/
}
.content-control h3 {
font-weight: normal;
font-size: 0.18rem;
line-height: 0.497rem;
text-align: center;
}
.content-control ul {
font-size: 0.13rem;
line-height: 0.24rem;
list-style: none;
padding:0 0.18rem;
}
.content-control ul li {
margin-bottom: 0.12rem;
}
.safe-control-footer {
position: fixed;
bottom:0.2rem;
left: 25%;
}
